---
import "../styles/global.css";
---

<div
  class="h-screen w-screen bg-cover bg-center flex items-center justify-center"
  style="background-image: url('/img/img1.jpg');">
  


  <div class="window" style="width: 600px">
  <div class="title-bar">
    <div class="title-bar-text">Flotante 2025</div>
    <div class="title-bar-controls">
      <button aria-label="Minimize"></button>
      <button aria-label="Maximize"></button>
      <button aria-label="Close"></button>
    </div>
  </div>
  <div class="window-body">
    <p class="pb-3">Muy Pronto</p>
    <progress></progress>
    
  </div>
</div>


</div>
``